<h2>Hurry up!  We only have <span id="time-left"></span> left!</h2>

<script type="text/javascript">
  $('#time-left').countdown('2015/01/25', function(event) {
    $(this).html(event.strftime('%d days %H:%M:%S'));
  });
</script>