// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #15171c !important;
	background-image: image-url('splash.jpg');
	background-repeat: no-repeat;
	
	background-position: top center;
}

.header {
	min-height: 500px;
	display:block;
}

.container {
	background-color: #FFFFFF;
	padding: 30px;
}